<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=940">
    <meta name="ROBOTS" CONTENT="index, follow">
    <meta name="keywords" content="{{page.keywords}}">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="shortcut icon" href="/img/favicon.ico" />
    <script src="/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <title>{{ page.title }} | Creative Landscapes</title>
    <meta name="description" content="{{ page.description }}">
    {% for sheet in page.stylesheets %}
    <link rel="stylesheet" href="{{sheet}}">
    {% endfor %}
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <div class='overbar'>
      <div class='container'>
        <a href="/"><img src='/images/sharon.jpg' /></a>
        <div class='pull-right contact-info'>
          <address>
            <strong>Creative Landscapes, Inc.</strong></br>
            11520 Hwy 17 Bypass<br />
            Murrells Inlet, SC 29576<br /><br />
            <strong>Phone:</strong> 843-651-3535<br />
            <strong>Fax:</strong> 843-651-2748<br />
            <a href='mailto:sturner1@sccoast.net'>creativelandscapesinc@gmail.com</a><br />
          </address>
        </div>
      <div id='main-navbar' class="navbar navbar-inverse">
        <div class="navbar-inner">
          <ul class="nav">
            <li><a href="portfolio.html" class="header"> Portfolio</a> </li>
            <li><a href="project_dev.html" class="header"> Project Development</a> </li>
            <li class='dropdown'>
              <a class="dropdown-toggle" id="about-drop-label" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                About us
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="about-drop-label">
                <li><a href="services.html" class="header">Services</a> </li>
                <li><a href="profile.html">
                  Profile
                </a></li>
                <li><a href="faq.html" class="header"> FAQ</a> </li>
                <li><a href="communicate_with.html">
                  Contact us 
                </a></li>
              </ul>
            </li>
          </ul>
          <a href="request_quote.html" class="btn btn-primary pull-right">Request a Quote</a> 
        </div>
      </div>
      </div>
    </div>
    {{ content }}  
    <hr />
    <div class='footer'>
      <div class='container'>
          <p class='pull-left'>Copyright &copy; 2013 Creative Landscapes, Inc.</p>
          <ul class='inline pull-right'>
            <li><a href='/contact'>Contact us</a></li>
            <li><a data-toggle='tooltip' data-placement='top' title='Find us on Facebook' href="http://www.facebook.com/pages/Creative-Landscapes-Inc/224516841339?ref=ts" class="header"><i class='icon-facebook-sign'></i></a></li>
            <li><a data-toggle='tooltip' data-placement='top' title='Blog' href="http://mblandscapes.wordpress.com/" class="header"><i class='icon-rss'></i></a></li>
          </ul>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', '', '');
      ga('send', 'pageview');
    </script>
  </body>
</html>
