body,table,tr,td         { font-family: Arial; font-size: 10pt }
.header                  { color: #FFFFFF; text-decoration: none; font-size: 11pt }
.header:hover            { color: 7BBE69 }
h4                       { color: 3e6534; font-size: 12pt }
h5                       { color: 773838; font-size: 11pt }
h1 {
	color: #773838;
	font-size: 16px;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 6px;
	letter-spacing: 0.05em;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
}
h2 {
	color: #773838;
	font-size: 14px;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 6px;
	letter-spacing: 0.05em;
	text-align: left;
}
p {
	margin-top: 4px;
	margin-bottom: 20px;
	text-decoration: none;
	letter-spacing: .05em;
}
#float-img-right {
	float: right;
	width: 275px;
	margin-top: 8px;
	margin-bottom: 12px;
	margin-left: 18px;
}
#float-img-right2 {
	float: right;
	width: 255px;
	margin-top: 8px;
	margin-bottom: 12px;
	margin-left: 18px;
}
#float-img-left {
	float: left;
	width: 275px;
	margin-top: 8px;
	margin-bottom: 18px;
	margin-right: 18px;
}
#float-img-left2 {
	float: left;
	width: 255px;
	margin-top: 8px;
	margin-bottom: 18px;
	margin-right: 18px;
}
