body {
  font-size: 16px;
  line-height: 25.6px;
}
h1,
h2,
h3,
h4 {
  color: #3e6534;
}
.container {
  padding: 20px 0;
}
.overbar {
  background: #f0eee0;
  border-bottom: 2px solid #3e6534;
}
.overbar .contact-info {
  text-align: right;
}
.overbar .sm-links {
  font-size: 32px;
}
.overbar .sm-links a {
  text-decoration: none;
  color: #666;
}
.overbar .sm-links a i {
  margin: 0 20px;
}
.overbar .sm-links a:hover {
  color: #333;
}
.overbar address {
  margin-bottom: 0;
}
.navbar {
  margin: 20px 0 0 0;
}
.navbar .nav > li:first-child {
  margin-left: -15px;
}
.navbar .navbar-inner {
  background: #d6d3ad;
  border: 1px solid #b4af69;
}
.navbar .navbar-inner .nav > li > a {
  color: #58552c;
}
.navbar .brand {
  line-height: 20px;
}
.footer {
  background: #f0eee0;
  border-top: 2px solid #3e6534;
}
.footer p,
.footer ul {
  margin: 0;
}
