@base-font-size: 16px;
@cl-green: #3e6534;
body{
  font-size: @base-font-size;
  line-height: @base-font-size * 1.6;
}

.overbar{
  background: white;
  padding: 20px 0;
  .contact-info{
    text-align: right;
  }
  .sm-links{ 
    font-size: 32px;
    a{
      text-decoration: none;
      color: #666;
      i{
        margin: 0 20px;
      }
      &:hover{
        color: #333;
      }
    }
  }
  address{
    margin-bottom: 0;
  }
}
.navbar{
  margin: 20px 0 0 0;
  .nav>li:first-child{
    margin-left: -15px;
  }
  .navbar-inner{
  }
  .brand{
    line-height: 20px;
  }
}
footer{
  p{
    margin: 0;
  }
}
