---
layout: default
title: Beautiful Landscaping For the Myrtle Beach and Murrells Inlet Area
description: Creative Landscapes is a full service turn-key Murrells Inlet landscaping design company serving the commercial and residential needs of its clients throughout the Grand Strand area. Having been landscaping Myrtle Beach and it's surrounding area since 1976, we are extremely familiar with the seasons and plant care in South Carolina. From projects small to large, we take care of every aspect of planning, design, coordination and installation.
keywords: landscaping myrtle beach, landscaping murrells inlet, myrtle beach landscaping, murrells inlet landscaping, landscape design myrtle beach, landscape design murrells inlet
stylesheets: 
  - /css/index.css
---
<div style="width: 640px;" class='container'>
{{content}}
</div>
